<!DOCTYPE html>
<html>
<head>
    <title>Formulaire de question au coach</title>
    <link rel="stylesheet" type="text/css" href="/assets/application.css">
</head>
<body>
  <div id="ask-page">
    <h1>Poser une question au coach</h1>
    <div id="ask-form">
      <form action="/answer" method="get">
          <label for="question">Votre question :</label>
          <input type="text" id="question" name="question" required>
          <br>
        <button id="ask-button" type="submit">Ask</button>
      </form>
    </div>
  </div>
</body>
</html>
