/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 #ask-page {
  background-color: #f2f2f2;
  padding: 20px;
  border: 2px solid #3498db;
  border-radius: 5px;
  color: #333;
  font-family: 'Arial', sans-serif;
  margin: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#ask-form {
  text-align: center;
}

#ask-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

#question {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #3498db;
  border-radius: 5px;
  margin-bottom: 20px;
}

#ask-button {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#ask-button:hover {
  background-color: #2980b9;
}


#answer-page {
  background-color: #eaf5f0;
  padding: 20px;
  border: 2px solid #2ecc71;
  border-radius: 5px;
  color: #333;
  font-family: 'Arial', sans-serif;
  margin: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#response {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

#return-button {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#return-button:hover {
  background-color: #2980b9;
}
